.input-text-area textarea {
  min-width: 320px;
  height: 96px;
  padding: var(--space-small) var(--space-medium);
  background-color: var(--color-gray-3);
  color: white;
  font-size: var(--default-text-size);
  border-radius: var(--radius);
  border: none;
}

.input-text-area textarea::placeholder {
  color: var(--color-gray-4);
}

.input-text-area textarea:focus {
  outline: none;
  border-bottom: solid 2px orange;
}
