.list-cards {
  margin-bottom: var(--space-medium);
  padding: 0 var(--page-space);
}

.list-cards .scroller {
  overflow-x: scroll;
  padding: var(--space-small);
}

.list-cards .container {
  display: flex;
  gap: var(--space-medium);
}

/* Remove scrollbar space */
.list-cards .scroller::-webkit-scrollbar {
  display: none;
}

.item-card {
  flex-grow: 0;
  flex-shrink: 0;
}
